<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>你在想peach???</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <!--js方法	刷新goodsDetail页面-->
<!--    <script type="text/javascript" th:inline="javascript">-->

<!--        var pathName = window.document.location.pathname;-->
<!--        //截取，得到项目名称-->
<!--        var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);-->
<!--        window.location.href = projectName + "/user/goodsDetail";-->

<!--    </script>-->

</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">你在想peach???</h3>
    </div>
</div>
<div class="container">
    <div>
        <h3><span th:text="${mymessage}"></span></h3><br><br>
        <a href="javascript:history.back()">返回</a>
    </div>
</div>
</body>
</html>